* {
    margin:0;

    }

body {
    background-image: url("https://i.pinimg.com/originals/35/aa/6e/35aa6e75c00f933a697bbe07c3a67b72.jpg");
    background-size:cover;
}

.center {
    padding-top:50%;
    padding-bottom:50%;
}

.logo {
      max-height:180px;
      display:block;
      margin-left:auto;
      margin-right:auto;
}
    
.logoParagraph {
     font-family:calibri;
     font-size:35px;
     display:block;
     text-align:center;
     font-weight:600px;
     color:yellow;
}
    
button {
    border-radius:25px;
    font-size:18px;
    display:block;
    border:none;  
    width:200px;
    text-align:cener;
    margin:auto;
}

button:hover {
    background-color:yellow;
}

