* {
margin:0;
background-image: url("images\girlStudying.jpg")
}

header {
  height:65px;
  margin:0;
  color:yellow;
}

.logo {
  max-height:35px;
  display:inline-block;
  margin:5px;
}

.logoParagraph {
 text-decoration:none; 
 font-family:calibri;
 font-size:35px;
 display:inline-block;
}

nav {
  display:inline-block;
}

.nav_links {
  float:right;
}

