* {
   
    margin:0;
    padding:0;
}

header {
    display:flex;
    align-items:center;
    height:75px;
    width:100vw;
    opacity:0;
}

.logo {
    padding:5px 5px 0px 5px;
    max-height:35px;
    max-width:auto;
    display:inline-block;
    cursor:pointer;
}

.logoParagraph {
    font-family:calibri;
    font-size:36px;
    font-weight:800;
    margin:0px;
    display:inline-block;
    color:yellow;
    padding:15px 0px 0px 0px;
}

.nav_links {
    list-style:none;
}

.nav_links li {
    display:inline-block;
    padding:0px 20px;
}

#homeDiv {
    width:250px;
	height:75px;
    margin:0;
    padding:0;
	background:black;
    clip-path:polygon(0px 0px, 100% 0px, 70% 100%, 0px 100%);
    display:inline-block;
}


li, a {
    color:black;
    text-decoration:none;
    font-family:calibri;
    font-weight:bold;
    font-size:24px;
}


#container {
    height:100vh;
    width:100vw;
    background-color:blue;
}

