* {
    margin:0;

    }

body {
    background-image: url("image/girlStudying.jpg");
    background-size:cover;
}

.center {
    padding-top:50%;
}
    .logo {
      max-height:180px;
      display:block;
      margin:auto;
    }
    
    .logoParagraph {
     font-family:calibri;
     font-size:35px;
     display:block;
     text-align:center;
     font-weight:600px;
     color:yellow;
    }
    
button {
    border-radius:25px;
    font-size:18px;
    display:block;
    border:none;  
    width:200px;
    margin:0;
}

button:hover {
    background-color:yellow;
}

