html { 
  background: url("https://github.com/hansenhy89/beehiveed.github.com.git/images/girlStudying.jpg") no-repeat center fixed;
  background-size: cover;
}

* {
    margin:0;
}

header {
    display:block;
    width:100%;
    padding:7px;
    height:45px;
}

.logo {
      float:left;
      max-height:35px;
      display:inline-block;
      padding-top:4px;
}
    
.logoParagraph {
     float:left;
     font-family:calibri;
     font-size:35px;
     display:inline-block;
     color:yellow;
     padding-left:10px;
}

ul {
    padding-top:5px;
    display:inline-block;
    font-size:18px;
    float:right;
}

ul li {
    display:inline;
    padding-left:5px;
    padding-right:5px;

}

ul li a {
        text-decoration:none;
        color:yellow;
        font-family:calibri;

}
    
.loginBtn {
    background:#bbbbbb;
    border-radius: 30px;
    font-size:18px;
    display:inline-block;
    border:none;  
    width:100px;
    text-align:center;
    margin:7px;
    color:black;
}

.loginBtn:hover {
    background-color:yellow;
    color:black;
    cursor:pointer;
}


.popup {
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    margin:0 auto;
    display:none;

}

.popup-content {
    height:300px;
    width:500px;
    background-color: white;
    text-align: center;
    padding:20px;
    position:relative;
    border-radius:4px;
    margin:auto;
    margin-top:95px;
}

.user {
    max-height:85px;
}

input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    outline:none;
}

.button {
    background-color: #bbbbbb;
    border:none;
    border-radius: 30px;
    text-decoration:none;
    font-family:calibri;
    color:black;
    font-size:18px;
    padding:5px 20px;
}
.button:hover {
    background:yellow;
    color:black;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}
