* {
    margin:0;

    }

.center {
    padding:50%;
}
    .logo {
      max-height:180px;
      display:block;
      margin:auto;
      padding:50%;
    }
    
    .logoParagraph {
     font-family:calibri;
     font-size:35px;
     display:block;
     text-align:center;
     font-weight:600px;
     color:yellow;
    }
    
button {
    border-radius:25px;
    font-size:18px;
    display:block;
    
}

button:hover {

}

