* {
    margin:0;

    }

body {
    background-image: url("images/girlStudying.jpg");
    background-size:cover;
}

.center {
    padding-top:25%;
    padding-bottom:25%;
}

.logo {
      max-height:180px;
      display:block;
      margin-left:auto;
      margin-right:auto;
}
    
.logoParagraph {
     font-family:calibri;
     font-size:35px;
     display:block;
     text-align:center;
     font-weight:600px;
     color:yellow;
}
    
button {
    border-radius:25px;
    font-size:18px;
    display:block;
    border:none;  
    width:200px;
    text-align:cener;
    margin:auto;
}

button:hover {
    background-color:yellow;
}

