* {
   
    margin:0;
    padding:0;
}

header {
    display:flex;
    align-items:center;
    height:75px;
    width:100vw;
    background:yellow;
    color:yellow;
}

.logo {
    padding:5px 5px 0px 5px;
    max-height:65px;
    max-width:auto;
    display:inline-block;
    cursor:pointer;
}

.logoParagraph {
    font-family:calibri;
    font-size:36px;
    font-weight:800;
    margin:0px;
    display:inline-block;
    color:yellow;
    padding:15px 0px 0px 0px;
}

.nav_links {
    list-style:none;
}

.nav_links li {
    display:inline-block;
    padding:0px 20px;
}

#homeDiv {
    width:250px;
	height:75px;
    margin:0;
    padding:0;
	background:black;
    clip-path:polygon(0px 0px, 100% 0px, 70% 100%, 0px 100%);
    display:inline-block;
}


li, a {
    color:black;
    text-decoration:none;
    font-family:calibri;
    font-weight:bold;
    font-size:24px;
}

#container {
    background-color:blue;
}

#textbookWrapper{
    padding-top:100px;
    padding-bottom:100px;
    height:250%;
    width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:105px;
    animation:transitionIn 2.5s;
    
}

@keyframes transitionIn {
    from {
        opacity:0;

    }

    to {
        opacity:1;

    }
}

.textbook {
    height:300px;
    width:200px;
    background-color:red;
    color:white;
    border-radius:15px;
    text-align:center;
    font-family: calibri;
    font-size:24px;   
}

.textbook:hover {
    cursor:pointer;
}

#grammar {
    background-color: green;
}

#beginninga1 {
    background-color: Yellow;
    color:black;
}

#beginninga2 {
    background-color: #FFA500;
    color:black;
}
